# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Sacala
2. R
3. Python

### Objectives:

* Some of the popular languages that Data Scientists.
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools

## Author
#### Opeyemi Folorunso

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|:----------------:|
|Pytorch|
|Jupyter Notebook|
|MLFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60.

convert = 200/60
print (convert,"hours")

3.3333333333333335 hours